<div id="map-container">
  <app-esri-map [center]="mapCenter" [basemap]="basemapType" [zoom]="mapZoomLevel" [siteMarker]="siteMarker"
    (mapLoadedEvent)="mapLoadedEvent($event)" id="mapa">
  </app-esri-map>
  <div class="dropdown">
    <div id="acceptBtn" (click)="writeReport()"><i class="fas fa-plus"></i></div>

    <div id="reportsMenu" class="dropdown-content">
      <a [routerLink]="['/home/report']">Crear Reporte Horas</a>
      <a>Crear Reporte Gastos</a>
    </div>
  </div>
</div>

<div id="details">
  <div id="nombreSitio">{{data.NombreSitio}}</div><br>
  <div id="descFechas">
    <div id="descripcion">Descripcion<br>
      <div id="contenidoDescripcion">{{data.Descripcion}}</div>
      <div id="infoContacto">
        <div id="contactoT">Contacto</div>
        <div id="contacto">{{data.NombreContacto}}
          <a href="tel:{{data.NombreContacto}}"></a><button class="callBtn"><i class="fas fa-phone"></i></button>
        </div>
      </div>
    </div>
    <div id="fechas">
      <div id="barra">
      </div>
      <div id="valorFechas">
        <div class='tituloF'>Desde</div>
        {{parseDate(data.FechaInicio.split("T")[0], data.FechaFin.split("T")[0]).split('-')[0]}}<br><br>
        <div class='tituloF'>Hasta</div>
        {{parseDate(data.FechaInicio.split("T")[0], data.FechaFin.split("T")[0]).split('-')[1]}}
      </div>
    </div>
  </div>
  <hr>
  <div id="ARTrabajo" *ngIf="data.StatusAsignacion==0; else empezar">
    <button id="acceptAssignment" (click)="aceptarServicio()">ACEPTAR SERVICIO</button>
    <button id="refuseAssignment" (click)="rechazarServicio()">RECHAZAR SERVICIO</button>
  </div>
  <ng-template #empezar>
    <div *ngIf="data.StatusAsignacion==1; else terminar">
    <button id="startAssignment" (click)="empezarAsignacion()">EMPEZAR SERVICIO</button>
  </div>
  </ng-template>
  <ng-template #terminar>
    <div *ngIf="data.StatusAsignacion==2; else terminado">
    <button id="endAssignment" (click)="terminarAsignacion()">TERMINAR SERVICIO</button>
  </div>
  </ng-template>
  <ng-template #terminado>
    <label *ngIf="data.StatusAsignacion==3" id="finishedAssignment"><i class="fas fa-flag-checkered" style="color: green"></i> SERVICIO TERMINADO<i
        class="fas fa-flag-checkered" style="color: green"></i></label>
  </ng-template>
</div>
