<div id="map-container">
  <app-esri-map [center]="mapCenter" [basemap]="basemapType" [zoom]="mapZoomLevel" [siteMarker]="siteMarker"
    (mapLoadedEvent)="mapLoadedEvent($event)">
  </app-esri-map>
  <!-- <div id="expandBtn" (click)="fullScreenMap()"><i class="fas fa-expand"></i></div> -->
</div>

<div id="details">
  <div>
    {{data.NombreSitio}}<br>
    {{data.FechaInicio.split("T")[0]}} - {{data.FechaFin.split("T")[0]}}
  </div>
  <h2>Descripción</h2>
  {{data.Descripcion}}
  <hr> 
  <h2>Contacto</h2>
  {{data.NombreContacto}}<br>
  <a href="tel:{{data.NombreContacto}}"><button class="callBtn"><i class="fas fa-phone"></i></button></a>
  <br>
  <a [routerLink]= "['/home/report']"><button class="reportBtn">Reporte</button> </a>
</div>
