#map-container {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;  
  left: -100vw;
  z-index: 3;
  transition-duration: 0.5s ;
}

#details {
  display: flex;
  flex-direction: column;
  border: none; 
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: white;
  transition: height 1s ease-out;
  margin-top: 10px;
}

#details div {
  position: relative;
  margin-left: 5px;
}

.show {
  display: block;
}
#nombreSitio{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  position: relative;
}

.underlined-title {
  display: inline-block;
  flex-direction: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  margin-left: 15px !important;
  width: auto;

  border-bottom: #009999 2px solid;
}

.ut-title {
  border-bottom: #009999 2px solid;
}

.ut-underline {
  border-bottom: #009999 2px solid;  
}



.contenido{
  margin-left: 25px !important;
  margin-bottom: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;  
  position: relative;
  word-wrap: break-word;
  padding-right: 20px;
}

#descFechas{
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 50%;
}

.tituloF{
  font-size: 14px;
  opacity: 0.4;
}


#contenidoDescripcion{  
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: left;
  font-size: 14px;
  font-weight: normal;
  word-break: break-all;
  margin-top: 10px;
  padding-right: 20px;
}

#barra{
  padding: 2%;
  background-color: orange;
  border-radius: 50px;
}

#fechas{
  width: 50%;
  display: flex;
  flex-direction: row;
}

.info-under-title{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: row;
  font-size: 14px; 
  height: auto;
  margin: 10px 15px !important;
}

.info-under-title div {
  width: 50%;
}

.accept-decline-space {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 15px;
}

.solid-background-btn {
  text-transform: uppercase;
  border: none;
  padding: 10px;
  font-weight: 700; 
  border-radius: 3px;
}


.accept-button {
  color: white;
  background-color: #009999;
  margin-right: 10px;  
}

.decline-button {
  background-color: white;
  color: #009999;
}

.iniciar-button {
  color: white;
  background-color: rgb(5, 160, 5);
  margin: auto;
}

.terminar-button {
  color: white;
  background-color: rgb(218, 9, 9);
  margin: auto;
}

#tipoTrabajo {
  margin: 10px 0 10px 25px !important;
  opacity: 0.4;
}

#contacto{
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  font-size: 14px;
}

#infoContacto{
  float: left;
}

#contactoT{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.callBtn {
  background: none;
  border: none;
  outline: none;
  border-radius: 50px;
  color: #757575;
}

.callBtn:focus {
  background-color: gray;
  border: none;
  border-radius: 50%;
}

#ARTrabajo{
  display: flex;
  flex-direction: row;
}


/* Añadir link */
.showMapLink {
  text-decoration: none;
  color: #0077FF;
  margin: auto;
  
}

/* Boton de reporte*/
.report-hover-button {
  position: sticky;
  bottom: 20px;
  max-width: 50%;
  margin: 10px auto;
  justify-content: center;
  display: flex;
  
  padding: 15px 25px;
  text-transform: uppercase;
  border: none;
  border-radius: 50px;
  color: white;
  font-weight: 600;
  background-color: #009999;
  box-shadow: -1px 0px 6px 0px rgba(117,117,117,1);
}