<div id="map-container">
  <app-esri-map [center]="mapCenter" [basemap]="basemapType" [zoom]="mapZoomLevel"
    (mapLoadedEvent)="mapLoadedEvent($event)">
  </app-esri-map>
  <div id="expandBtn" (click)="fullScreenMap()"><i class="fas fa-expand"></i></div>
</div>

<div id="details">
  <h2>Descripción</h2>
  {{data.Descripcion}}
  <hr>
  <h2>Sitio</h2>
  {{data.NombreSitio}}
  <h2>Contacto</h2>
  {{data.NombreContacto}}<br>
  {{data.TelefonoContacto}}
  <h2>Fecha inicio</h2>
  {{data.FechaInicio.split("T")[0]}}
  <h2>Fecha final</h2>
  {{data.FechaFin.split("T")[0]}}
</div>
