<div class="container">
  <div class="nombreEmpresa">{{nombreEmpresa}}</div>
  <div class="consecutivo">{{consecutivo}}</div>

  <div class="main-content" *ngIf="loadingData | async as results; else loading">
    <div *ngIf="results.length; else emptyResults">

      <div *ngFor="let tasks of results">
        <div>
          <div class="taskPreview" (click)="toggleDropdown($event)">
              {{tasks.NombreReporte}}<br>
              Reporte General<br>
              {{tasks.Consecutivo}}
              <div class="report-button" (click)="goToReport(tasks)"><i *ngIf="tasks.Enviado; else editIcon" style="color:green " class="fas fa-check-circle"></i></div>
          </div>
          <div class="taskPreviewDropdown" (click)="deleteReport(tasks.Consecutivo)">
              <i class="fas fa-trash-alt"></i> ELIMINAR
          </div>  
        </div>      
      </div>

    </div>
  </div>


  <!-- <button class="plus-hover-btn"><i class="fas fa-plus"></i></button> -->
  <button class="report-hover-button"(click)="crearReporte()">crear reporte</button>
</div>



<ng-template #loading>
  <div class="lds-dual-ring"></div>
</ng-template>

<ng-template #editIcon>
  <i class="fas fa-angle-right"></i>
</ng-template>

<ng-template #emptyResults>
  <div class="no-results-img">
    <img src="../../../assets/images/no-results3.png" />
    NO HAY REPORTES
  </div>
</ng-template>
