/* side-menu-css */
.side-menu-background {
  width: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  transition: 0.5s;
}

#side-menu-body {
  width: 0;
  height: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  transition: 0.5s;
  z-index: 1;
  overflow-x: hidden;
  top: 0;
  left: 0;
}

.side-menu-img {
  height: 450px;
  border-bottom: 1px gray solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  background-image: url("../../../assets/images/img-background5.jpeg");
  background-size: cover;
  color: white;
  font-size: 1.2rem;
}

.side-menu-img img {
  border-radius: 50%;
  width: 50%;
  margin: 20px 0;
}

.side-menu-img i {
  align-self: flex-end;
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 1.4rem;
}

.side-menu-options a i {
  margin: 0 10px;
}

.side-menu-options {
  color: gray;
  padding: 10px 10px 0 0;
  height: 100%;
  background-color: white;
}

.side-menu-options a {
  display: block;
  text-decoration: none;
  height: 32px;
  line-height: 32px;
  transition: 0.3s;
  background-size: 200% 100%;
  background-image: linear-gradient(to right, white 50%, gray 50%);
  font-size: 1.2rem;
}

.side-menu-options a:hover {
  background-position: -100% 0;
  color: white;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

/* home-component-css */

body {
  position: relative;
  transition: background-color 0.5s;
}

#navbar {
  background-color: inherit;
  /* border: 1px solid #757575; */
  width: 100%;
  position: sticky;
  position: -webkit-sticky;
  z-index: 10;
  margin-top: 0;
  top: 0;
  left: 0;
}

#openMenuBtn {
  font-size: 32px;
  border: none;
  background-color: white;
  outline: none;
  transition: 0s;
  display: block;
}

#openMenuBtn i {
  transition: 0s;
}

#openMenuBtn:focus {
  width: 0;
}

/* Content div */
.content {
  position: relative;
  height: auto;
}