<div class="frame">
  <div class="loginBox">
    <div class="loginLogo">
      <img src="../../assets/images/siemens-logo-lema.png" />
    </div>
    <form>
      <div class="styledInput">
        <input type="text" id="email" name="Usuario" placeholder=" "><br>
        <label>Usuario</label>
      </div>
      <div class="styledInput">
          <input type="password" id="password" name="Contraseña" placeholder=" "><br>
          <label>Contraseña</label>
        </div>
    </form>
    <button class="submit" (click)="login()">Enviar</button>
  </div>
</div>
