.side-menu-body {
    width: 60%;
    height: 100vh;
    border-right: 1px solid gray;
    display: flex;
    flex-direction: column;
}

.side-menu-img {
    height: 40%;
    border-bottom: 1px solid gray;
}

.side-menu-img img {
    border: none;
    border-radius: 50%;
    width: 50%;
}

.side-menu-options {
    display: flex;
    flex-direction: column;
}