.gray-bar {
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
    text-transform: uppercase;
    line-height: 20px;
    width: 100%;
    color: white;
    margin: 10px auto 15px auto;
}

.main-content {
    display: flex;
}

.no-results-img {
    width: 40%;
    margin: auto;
    text-align: center;
    color: lightgray;
}

.no-results-img img {
    width: 100%;
}

.taskPreview {    
    width: 100%;
    background-color: inherit;    
    position: relative;
    transition: 0.3s;        
    line-height: 20px;
}

.indicator {
  width: 5%;
  height: 60px;
  float: left;
  margin-right: 20px;
}

@media (max-width: 500px) {
  .gray-bar {
    width: 100vw;
    overflow-x: hidden;
  }
}

@media (min-width: 501px) {
  .main-content {
    justify-content: center;
  }
  .taskPreview {
    width: 60vw;
    margin: 5px 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
}

/* Loading Spinner */

.lds-dual-ring {
    display: flex;
    width: 64px;
    height: 64px;
    margin: auto;
  }
  
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid #1865e0;
    border-color: #1865e0 transparent #1865e0 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }