<!-- <div class="row">
  <div class="title">
    Fecha
  </div>
  <div class="inputTime">
      <div class="hoursList" *ngIf="dateToChange; then static else input" ></div>    
  </div>
</div> -->

<div class="dateStripe">
  <div class="hoursList" *ngIf="dateToChange; then static else input" ></div>    
</div>

<div class="subtitleReport">Horas Trabajadas</div>

<div class="row">
  <div class="title">
    Desde
  </div>
  <div class="inputTime">
    <input [ngxTimepicker]="pickerDesde" placeholder="Formato 24h" [format]="24" id="desde" class="input">
    <ngx-material-timepicker #pickerDesde></ngx-material-timepicker>
  </div>
</div>

<div class="row">
  <div class="title">
    Hasta
  </div>
  <div class="inputTime">
    <input [ngxTimepicker]="pickerHasta" placeholder="Formato 24h" [format]="24" id="hasta" class="input">
    <ngx-material-timepicker #pickerHasta></ngx-material-timepicker>
  </div>
</div>

<div class="row">
  <div class="title">
    Descuento
  </div>
  <div class="inputTime">
    <input [ngxTimepicker]="pickerDescuento" placeholder="Formato 24h" [format]="24" id="descuento" class="input">
    <ngx-material-timepicker #pickerDescuento></ngx-material-timepicker>
  </div>
</div>
<div class="subtitleReport">Clase de Trabajo</div>

<div class="row">
  <div class="title">
    Servicio en Sitio
  </div>
  <div class="inputTime">
    <input [ngxTimepicker]="pickerServicioSitio" placeholder="Formato 24h" [format]="24" id="servicioSitio" class="input">
    <ngx-material-timepicker #pickerServicioSitio></ngx-material-timepicker>
  </div>
</div>

<div class="row">
  <div class="title">
    Entrenamiento
  </div>
  <div class="inputTime">
    <input [ngxTimepicker]="pickerEntrenamiento" placeholder="Formato 24h" [format]="24" id="entrenamiento" class="input">
    <ngx-material-timepicker #pickerEntrenamiento></ngx-material-timepicker>
  </div>
</div>

<div class="row">
  <div class="title">
    Tiempo de Viaje
  </div>
  <div class="inputTime">
    <input [ngxTimepicker]="pickerTiempoViaje" placeholder="Formato 24h" [format]="24" id="tiempoViaje" class="input">
    <ngx-material-timepicker #pickerTiempoViaje></ngx-material-timepicker>
  </div>
</div>

<div class="row">
  <div class="title">
    Tiempo de Espera
  </div>
  <div class="inputTime">
    <input [ngxTimepicker]="pickerTiempoEspera" placeholder="Formato 24h" [format]="24" id="tiempoEspera" class="input">
    <ngx-material-timepicker #pickerTiempoEspera></ngx-material-timepicker>
  </div>
</div>


<div id="saveBtn" (click)="saveHours()" ><i class="far fa-save"></i></div>

<ng-template #static>
  <input placeholder="Selecciona una fecha ..." [owlDateTime]="dt3" [owlDateTimeTrigger]="dt3" id="fecha" class="input" value="{{dateToChange}}">
  <owl-date-time [pickerMode]="'dialog'" [pickerType]="'calendar'" #dt3></owl-date-time>
</ng-template>
<ng-template #input>
  <input placeholder="Selecciona una fecha ..." [owlDateTime]="dt3" [owlDateTimeTrigger]="dt3" id="fecha" class="input">
  <owl-date-time [pickerMode]="'dialog'" [pickerType]="'calendar'" #dt3></owl-date-time>
</ng-template>
