<div class="row">
  <div class="title">
    Fecha
  </div>
  <div class="inputTime">
      <div class="hoursList" *ngIf="dateToChange; then static else input" ></div>    
  </div>
</div>

<div class="subtitleReport">Horas Trabajadas</div>

<div class="row">
  <div class="title">
    Desde
  </div>
  <div class="inputTime">
    <input [ngxTimepicker]="pickerDesde" placeholder="Hora" [format]="24" id="desde">
    <ngx-material-timepicker #pickerDesde></ngx-material-timepicker>
  </div>
</div>

<div class="row">
  <div class="title">
    Hasta
  </div>
  <div class="inputTime">
    <input [ngxTimepicker]="pickerHasta" placeholder="Hora" [format]="24" id="hasta">
    <ngx-material-timepicker #pickerHasta></ngx-material-timepicker>
  </div>
</div>

<div class="row">
  <div class="title">
    Descuento
  </div>
  <div class="inputTime">
    <input [ngxTimepicker]="pickerDescuento" placeholder="Hora" [format]="24" id="descuento">
    <ngx-material-timepicker #pickerDescuento></ngx-material-timepicker>
  </div>
</div>
<div class="subtitleReport">Clase de Trabajo</div>

<div class="row">
  <div class="title">
    Servicio en Sitio
  </div>
  <div class="inputTime">
    <input [ngxTimepicker]="pickerServicioSitio" placeholder="Hora" [format]="24" id="servicioSitio">
    <ngx-material-timepicker #pickerServicioSitio></ngx-material-timepicker>
  </div>
</div>

<div class="row">
  <div class="title">
    Entrenamiento
  </div>
  <div class="inputTime">
    <input [ngxTimepicker]="pickerEntrenamiento" placeholder="Duraciòn" [format]="24" id="entrenamiento">
    <ngx-material-timepicker #pickerEntrenamiento></ngx-material-timepicker>
  </div>
</div>

<div class="row">
  <div class="title">
    Tiempo de Viaje
  </div>
  <div class="inputTime">
    <input [ngxTimepicker]="pickerTiempoViaje" placeholder="Duraciòn" [format]="24" id="tiempoViaje">
    <ngx-material-timepicker #pickerTiempoViaje></ngx-material-timepicker>
  </div>
</div>

<div class="row">
  <div class="title">
    Tiempo de Espera
  </div>
  <div class="inputTime">
    <input [ngxTimepicker]="pickerTiempoEspera" placeholder="Duraciòn" [format]="24" id="tiempoEspera">
    <ngx-material-timepicker #pickerTiempoEspera></ngx-material-timepicker>
  </div>
</div>


<div class="row">
  <div></div>
  <div>
    <div id="saveBtn" (click)="saveHours()">GUARDAR</div>
  </div>
</div>

<ng-template #static>
  <div class="staticDate">
    {{dateToChange}}
  </div>
</ng-template>
<ng-template #input>
  <input placeholder="Fecha" [owlDateTime]="dt3" [owlDateTimeTrigger]="dt3" id="fecha">
  <owl-date-time [pickerMode]="'dialog'" [pickerType]="'calendar'" #dt3></owl-date-time>
</ng-template>
