.dateStripe {
    width: 100% - 1px;
    margin: 0 auto 15px auto;
    min-height: 50px;
    background-color: #2387aa;
    position: sticky;
    display: flex;
    box-shadow: -1px 0px 19px 5px rgba(117,117,117,1);
    z-index: 50;
    top: 59px;
    right:0;
    z-index: 9;
}

.row {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.title {
    font-weight: 400;
    width: 50%;
    text-align: end;
    justify-content: flex-end;
    margin-bottom: 30px;
    font-size: 1.2rem;
    vertical-align: bottom;
}

.inputTime {
    width: 50%;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

input {
    border: none;
    outline: none;
    width: 60%;
    margin:auto;
    background-color: inherit;
}

/* input::-webkit-input-placeholder {
    text-align: center;
} */


.subtitleReport {
    font-size: 1.3rem;
    font-weight: 600;
    margin: 10px 0 25px 0;
    padding-left: 5%; 
}

.staticDate {
    text-align: center;
    color: white;
    margin: auto;
    font-size: 1.2rem;
    align-items: center;
}

#fecha {
    font-size: 1.1rem;
    text-align: center;
    border-bottom: 1px solid rgba(#2387aa, 0.5);
    color: white;
}

#fecha::placeholder {
    color: white;
}

#saveBtn {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: sticky;
    background-color: #2387aa;
    color: white;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 20px;
    right: 20px;
    float: right;   
    z-index: 8;
    box-shadow: 1px 3px 5px -1px rgba(0,0,0,0.75);
  }

#saveBtn:hover {
    box-shadow: 0px 3px 5px gray;
}

/*******************/
.inputTime {
    position: relative;
    width: 95%;    
}

/* input */
.inputTime input {
    border-bottom: 1px solid #757575;
    font-size: 1.2rem;
    text-align: center;
}

.inputTime input:focus {
    border-bottom: 2px solid #0077FF;
}

.inputTime input ~ label {
    position: absolute;
    left: 20%;
    top: 15px;
    z-index: -1;
    transition: 0.2s;
    color: #757575;
}

.inputTime input:focus ~ label {
    color: #0077FF;
    transform: translateY(-30px);
    font-size: 0.9rem;
}

.inputTime input:not(:placeholder-shown) ~ label{
    transform: translateY(-30px);
    font-size: 0.9rem;
}

