.row {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.title {
    font-weight: 400;
    width: 50%;
    text-align: end;
    margin-bottom: 30px;
}

.inputTime {
    width: 50%;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

input {
    border: none;
    outline: none;
    width: 60%;
    margin:auto;
    background-color: inherit;
}

/* input::-webkit-input-placeholder {
    text-align: center;
} */


.subtitleReport {
    font-size: 1.2rem;
    font-weight: 600;
}

.staticDate {
    width: 50%;
    text-align: center;
    color: #757575;
}

#saveBtn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  background-color: #006486;
  color: white;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;

  bottom: 0px;
  right: 20px;
  box-shadow: 0px 2px 5px gray;
  
  transition: all 0.2s;
}

#saveBtn:hover {
    box-shadow: 0px 3px 5px black;
}



