.side-menu-body {
    width: 60%;
    height: 100vh;
    border-right: 1px solid lightgray;
    display: flex;
    flex-direction: column;
}

.side-menu-img {
    height: 40%;
    border-bottom: 1px gray solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
    background-image: url("../../assets/images/img-background5.jpeg");
    background-size: cover;
    color: white;
}

.side-menu-img img {
    border-radius: 50%;
    width: 60%;
    margin-bottom: 20px;
}

.side-menu-img i {
    align-self: flex-end;
    position: relative;
    right: 5px;
    top: 5px;
}

.side-menu-options a i {
    margin: 0 10px;
}

.side-menu-options {
    color: gray;
    padding: 10px 10px 0 0;
}

.side-menu-options a {
    display: block;
    text-decoration: none;
    height: 32px;
    line-height: 32px;
}

.side-menu-options a:hover {
    background-color: gray;
    color: black;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}